{{ define "main" }}
    <main class="grid">
        <article class="list-container" data-search="art-paintings">
    <header class="list-header">
        <h1 class="list-category"><a href="https://mnmll.ist/art">Art</a></h1><h2 class="list-subcategory"><a href="https://mnmll.ist/art/paintings">Paintings</a></h2>
    </header>
    <ol class="list">




        <li class="list-item">
            <p class="product-name"><a class="product-link" href="http://jimverburg.squarespace.com/work/#/a-certain-silence-1/" rel="noopener noreferrer" target="_blank">A Certain Silence</a></p>
            <p class="maker-name"><a class="maker-link" href="http://jimverburg.squarespace.com" rel="noopener noreferrer" target="_blank">Jim Verburg</a></p>
        </li>


        <li class="list-item">
            <p class="product-name"><a class="product-link" href="https://www.artsy.net/artist/miya-ando" rel="noopener noreferrer" target="_blank">Steel</a></p>
            <p class="maker-name"><a class="maker-link" href="http://www.miyaando.com" rel="noopener noreferrer" target="_blank">Miya Ando</a></p>
        </li>
        </ol>
</article>
    </main>
{{ end }}
